body,
div {
  margin: 0px;
  padding: 0px;
  font-size: 100%;

}

/* -------------------------banniere----------------------------- */

#bordure {
  background-color: lightgrey;
  justify-content: space-between;
  height: 9.5vw;
  background: radial-gradient(circle at bottom 0% left 26%, white, lightgrey 12%, rgb(190, 190, 190) 50%);
}


.container {
  display: flex;
}

#text_droite {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 3 1 auto;
}

img.jeunes {
  height: 11vw;
}

.text {
  font-family: Helvetica, sans-serif;
}

.big_droite {
  color: rgb(255, 255, 255);
  text-align: right;
  font-size: 3vw;
  margin-right: 3%;
  position: relative;
  top: 3.5vw;
}

.little_droite {
  font-size: 3vw;
  margin-right: 5%;
  position: relative;
  bottom: 0.8vw;
  color: white;
  visibility: hidden;
}

#logo {
  margin-left: 5%;
  flex: 2 1 auto;
  height: 11vw;
}

/* -------------------------banniere----------------------------- */

/* -------------------------navigation----------------------------- */
li {
  display: inline;
  padding: 0.8vw;
}

ul {
  font-size: 1.1vw;
  margin-right: 0.8vw;
  font-family: Arial, Helvetica, sans-serif;
}

li:nth-child(1) {
  color: rgb(219, 0, 142);
}

li:nth-child(2) {
  color: rgb(0, 146, 0);
}

li:nth-child(3) {
  color: rgb(0, 171, 227);
}

li:nth-child(4) {
  color: rgb(105, 107, 107);
}

.nav {
  background-color: lightgrey;
  background: radial-gradient(circle at top 0% left 30%, rgb(247, 247, 247), lightgrey 30%, rgb(190, 190, 190));
  margin-left: 33vw;
  height: 3vw;
}

.logg {
  font-size: 1.3vw;
  padding: 0.3vw;
  margin-left: 0.6vw;
}

.logd {
  font-size: 1.3vw;
  padding: 0.3vw;
  margin-left: 1.5vw;
}

#log {
  display: flex;
  align-items: center;
  margin-left: 7vw;
}

/* -------------------------navigation----------------------------- */

/* -------------------------partenaires---------------------------- */
.textegauche {
  display: flex;
  justify-content: left;
}

.textemilieu {
  display: flex;
  justify-content: center;
}

.textefin {
  display: flex;
  justify-content: justify;
}

.textpart {
  text-align: justify;
  font-family: Arial;
  color: rgb(126, 126, 126);
  font-size: 1vw;
  line-height: 17px;
}

img.partenaires {
  height: 25vw;
}

.logopart {
  display: flex;
  justify-content: center;
}

/* -------------------------partenaires---------------------------- */

.zone_description {
  display: grid;
  grid-gap: 50px;
  grid-auto-rows: minmax(100px, auto);

}

.textegauche {
  grid-column: 1;
  grid-row: 1;
}

.textemilieu {
  grid-column: 2;
  grid-row: 1;
}

.textefin {
  grid-column: 3;
  grid-row: 1;
}

