body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#content {
    flex: 90%;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer {
    flex: 10%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888888;
    text-align: center;
}

#footer p {
    margin: 0;
    padding: 10px;
}

.footer-text {
    color: #888888;
    width: 40%;
}

#footer p.white-text {
    color: #ffffff;
}

.red-button {
    background-color: transparent;
    color: #d02e1c;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 35px;
    cursor: pointer;
}

.main-text {
    width: 70%;
    font-size: 35px;
    color: #2a206d;
    text-align: center;
}